doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    link(rel='stylesheet' href='scss/style.scss')
    script(src='js/script.js')

    link(rel='shortcut icon' href='assets/img/AB_logo.png')
    title Andrew Booth

  body
    #foreground.foreground
      canvas#canvas.canvas
      main
        each project in projects
          .project(id=`${project.title}`)
            .image
              a(href=project.live_link target='_blank')
                img(src=project.image_url)

            .details
              a(href=project.live_link target='_blank')
                h2= project.title

              p !{project.description}

      footer &copy; 2020 Andrew Booth
